<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="color-scheme" content="light dark" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>title</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    {% block nav %}
    {% endblock %}
    {% block header %}
    {% endblock %}
    <main class="container">
      {% block main %}
        {% include "main.html" %}
      {% endblock %}
    </main>
    {% block footer %}
    {% endblock %}
  </body>
</html>
