{% if link.length > 0 %}
  <a href="{{ link }}">read secret message now (maximum 3 times)</a>
  <br />
  or share the message using this link:
  <span id="messageLink">{{ link }}</span>
  <button id="copyToClipboardButton">Copy to Clipboard</button>
  <script src="/js/clickHandler.js"></script>
{% elif error.length > 0 %}
  {{ error | safe }}

  <form method="post" action="/message">
    <fieldset>
      <label>
        Message*
        <textarea name="message" required></textarea>
      </label>
      <label>
        Password for the Message (min. 8 characters and the following characters
        are not allowed: &gt; &lt; &amp; ' " / )
        <input type="text" name="password" />
      </label>
    </fieldset>
    <input type="submit" value="anlegen" />
  </form>
{% else %}
  Hi, please leave a message.

  <form method="post" action="/message">
    <fieldset>
      <label>
        Message*
        <textarea name="message" required></textarea>
      </label>
      <label>
        Password for the Message (min. 8 characters and the following characters
        are not allowed: &gt; &lt; &amp; ' " / )
        <input type="text" name="password" />
      </label>
    </fieldset>
    <input type="submit" value="anlegen" />
  </form>
{% endif %}
