{% extends "_baseLayout.html" %}

{% block main %}
  {% if message.length > 0 %}
    Your Message is only for you and will be deleted from the server:
    {{ message }}
  {% else %}
    {% if error.length > 0 %}
      {{ error | safe }}
    {% endif %}
    <form method="post" action="/message/{{ id }}">
      <fieldset>
        <label>
          Password for the Message
          <input type="text" name="password" />
        </label>
      </fieldset>
      <input type="submit" value="show message" />
    </form>
  {% endif %}
{% endblock %}
